<h1>Welcome!</h1>
<hr/>
<p>Please head over to Code if you would like to see projects that I've worked on and am currently working on.</p>
<p>If you would like to leave me a massage please make an account so I know you're not a bot</p>