<div class="container-fluid">
	<h1>Kyle Eslick</h1>
	<hr />
	<div class="row-fluid">
		<div class="col-md-4">
		<%= image_tag "profile.jpg", :class => "img-rounded", size: "260x300" %>
		</div>
		<div class="col-md-6 bg-info">
			<p>Kyle is an avid programmer proficient in HTML, CSS, Javascrip, Ruby on Rails, Java and C++.  He enjoys programming, technology and photography.</p>
		</div>
	</div>
</div>