<div class="container-fluid">
<h1>Kyle Eslick</h1>
  <div class="row-fluid">
    <div class="col-md-4">
      <%= image_tag "profile.jpg", :class => "img-rounded", size: "250x300" %>
    </div>
    <div class="col-md-6 bg-info">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo rhoncus commodo. Proin vel sapien urna. Praesent facilisis leo lacus, a ornare justo dapibus vel. Sed laoreet vestibulum nisi ac posuere. Nam ultrices turpis eget mauris accumsan gravida. Aenean sit amet bibendum dui. Proin vitae lectus lectus. Morbi luctus venenatis tortor, at vehicula urna sollicitudin sit amet. Vestibulum ut mi sodales, consequat enim sit amet, finibus diam. Aliquam ultrices lobortis sapien, in porta ligula dapibus vel.</p>

<p>Proin congue dignissim facilisis. Praesent eget risus a dolor vehicula rutrum ac ut ex. Donec ut ornare diam. Integer vitae odio neque. Nullam feugiat magna id lacinia elementum. Maecenas luctus diam id fermentum aliquam. Duis sed vulputate ligula. Aliquam tincidunt, erat sit amet cursus rhoncus, quam ipsum tincidunt elit, a aliquam risus leo ut tellus. In ornare nisi massa, sit amet laoreet tortor mollis sit amet. Mauris eget quam felis. Aenean eu massa at orci feugiat euismod. In molestie placerat erat. Nulla sapien arcu, venenatis at tortor sit amet, suscipit mattis enim.</p>

<p>Ut hendrerit mattis nibh, at interdum neque. In mi sapien, euismod vitae aliquet in, faucibus sit amet felis. Fusce ultrices scelerisque sagittis. Sed ullamcorper sapien massa, placerat molestie dui dictum at. Cras lacinia libero et libero gravida, nec suscipit leo congue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur laoreet turpis a pretium bibendum. Cras ut nulla fermentum, mattis nisl id, commodo nibh.</p>

<p>Morbi porttitor luctus justo ut tempor. Cras nibh enim, eleifend et dolor quis, egestas accumsan elit. Praesent lectus urna, iaculis ac egestas in, fringilla ut nibh. Nam posuere consequat bibendum. Aenean mattis sem a odio mattis mollis. Phasellus neque eros, semper et pulvinar facilisis, tempor sed metus. Fusce a vehicula leo, id faucibus dui.</p>

<p>Curabitur arcu nibh, consequat nec libero sed, elementum convallis arcu. Phasellus consectetur, massa sed tincidunt suscipit, purus diam dignissim mi, sit amet pretium ipsum orci vel ante. Mauris sit amet molestie quam. Nullam luctus eros nec nibh molestie aliquet. Nulla ut neque sit amet sem pulvinar pretium. Aenean nibh velit, varius ornare rutrum in, semper in dui. Suspendisse euismod ipsum eleifend tincidunt rhoncus. Nulla tincidunt sodales magna, non tincidunt leo placerat sit amet. Nam rutrum risus augue, id ullamcorper neque placerat et.</p>
    </div>
  </div>
</div>