<div class="container-fluid">
	<div>
		<h1>Kyle Eslick Website</h1>
		<div class="bg-info">
			<p>Site was made in Ruby on Rails and the source code is here</p>
		</div>
	</div>
	<div class="bg-info">

	</div>
</div>