<style type="text/css">
	/* i like padding - you can ignore this css. see the actual css / less files in the repository for styling the gallery navigation */
	div.row > div > div.row {
		margin-bottom: 15px;
	}

	body {
		padding-bottom: 50px;
	}

	div.top-header {
		margin-bottom:100px;
	}

	h3.page-header {
		margin-top: 50px;
	}

	figure {
		position: relative;
	}

	figure figcaption {
		font-size: 22px;
		color: #fff;
		text-decoration: none;
		bottom: 10px;
		right: 20px;
		position: absolute;
		background-color: #000;
	}
	code {
		white-space: pre-wrap;       /* css-3 */
		white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		white-space: -pre-wrap;      /* Opera 4-6 */
		white-space: -o-pre-wrap;    /* Opera 7 */
		word-wrap: break-word;       /* Internet Explorer 5.5+ */
	}
</style>
<h3 class="page-header" id="image-gallery">Example #2: Gallery of Images</h3>
<p>By default, gallery images must be wrapped in a tag (probably <code>&lt;div&gt;</code>) - which doesn't have the class <code>.row</code>. This is so you can create columns/rows.</p>
<p>A custom selector for the parent can be used, see <a href="#wrappers">example #11</a>. Note how the final image is not in the gallery intentionally.</p>
<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="row">
			<a href="/assets/photos/shane1.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Shane in makeup" class="col-sm-4">
				<img src="/assets/photos/shane1.jpg" class="img-responsive">
			</a>
			<a href="/assets/photos/shane2.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Shane in makeup" class="col-sm-4">
				<img src="/assets/photos/shane2.jpg" class="img-responsive">
			</a>
			<a href="/assets/photos/shane3.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Shane in makeup" class="col-sm-4">
				<img src="/assets/photos/shane3.jpg" class="img-responsive">
			</a>
		</div>
		<div class="row">
			<a href="/assets/photos/shane4.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Shane in makeup" class="col-sm-4">
				<img src="/assets/photos/shane4.jpg" class="img-responsive">
			</a>
			<a href="/assets/photos/shane5.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Shane in makeup" class="col-sm-4">
				<img src="/assets/photos/shane5.jpg" class="img-responsive">
			</a>
			<a href="/assets/photos/shane6.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Shane in makeup" class="col-sm-4">
				<img src="/assets/photos/shane6.jpg" class="img-responsive">
			</a>
		</div>
		<div class="row">
			<a href="/assets/photos/window.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Girl looks away" class="col-sm-4">
				<img src="/assets/photos/window.jpg" class="img-responsive">
			</a>
			<a href="/assets/photos/ring.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Wedding ring" class="col-sm-4">
				<img src="/assets/photos/ring.jpg" class="img-responsive">
			</a>
			<a href="/assets/photos/xp.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Looks like Windows XP" class="col-sm-4">
				<img src="/assets/photos/xp.jpg" class="img-responsive">
			</a>
		</div>
		<div class="row">
			<a href="/assets/photos/teton.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Teton mountains" class="col-sm-4">
				<img src="/assets/photos/teton.jpg" class="img-responsive">
			</a>
			<a href="/assets/photos/sunset.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Sunset by river" class="col-sm-4">
				<img src="/assets/photos/sunset.jpg" class="img-responsive">
			</a>
			<a href="/assets/photos/weed.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Reeds" class="col-sm-4">
				<img src="/assets/photos/weed.jpg" class="img-responsive">
			</a>
		</div>
		<div class="row">
			<a href="/assets/photos/kitten.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="My cat" class="col-sm-4">
				<img src="/assets/photos/kitten.jpg" class="img-responsive">
			</a>
			<a href="/assets/photos/art.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Art" class="col-sm-4">
				<img src="/assets/photos/art.jpg" class="img-responsive">
			</a>
			<a href="/assets/photos/sculpture.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Sculpture" class="col-sm-4">
				<img src="/assets/photos/sculpture.jpg" class="img-responsive">
			</a>
		</div>
		<div class="row">
			<a href="/assets/photos/bros.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Hanging out" class="col-sm-4">
				<img src="/assets/photos/bros.jpg" class="img-responsive">
			</a>
			<a href="/assets/photos/fence.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="On the Fence" class="col-sm-4">
				<img src="/assets/photos/fence.jpg" class="img-responsive">
			</a>
			<a href="/assets/photos/bridge.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Bridge" class="col-sm-4">
				<img src="/assets/photos/bridge.jpg" class="img-responsive">
			</a>
		</div>
		<div class="row">
			<a href="/assets/photos/chuck.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Chuck" class="col-sm-4">
				<img src="/assets/photos/chuck.jpg" class="img-responsive">
			</a>
			<a href="/assets/photos/waterfall.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Waterfall" class="col-sm-4">
				<img src="/assets/photos/waterfall.jpg" class="img-responsive">
			</a>
			<a href="/assets/photos/flower.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Flower" class="col-sm-4">
				<img src="/assets/photos/flower.jpg" class="img-responsive">
			</a>
		</div>
		</div>
</div>

	<script src="//cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/3.3.0/ekko-lightbox.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function ($) {

				// delegate calls to data-toggle="lightbox"
				$(document).delegate('*[data-toggle="lightbox"]:not([data-gallery="navigateTo"])', 'click', function(event) {
					event.preventDefault();
					return $(this).ekkoLightbox({
						onShown: function() {
							if (window.console) {
								return console.log('Checking our the events huh?');
							}
						},
						onNavigate: function(direction, itemIndex) {
							if (window.console) {
								return console.log('Navigating '+direction+'. Current item: '+itemIndex);
							}
						}
					});
				});

				//Programatically call
				$('#open-image').click(function (e) {
					e.preventDefault();
					$(this).ekkoLightbox();
				});
				$('#open-youtube').click(function (e) {
					e.preventDefault();
					$(this).ekkoLightbox();
				});

				$(document).delegate('*[data-gallery="navigateTo"]', 'click', function(event) {
					event.preventDefault();
					return $(this).ekkoLightbox({
						onShown: function() {
							var a = this.modal_content.find('.modal-footer a');
							if(a.length > 0) {
								a.click(function(e) {
									e.preventDefault();
									this.navigateTo(2);
								}.bind(this));
							}
						}
					});
				});

			});
</script>
